<appSettings>
  <add key="FACEBOOK_ACCESS_TOKEN" value="" />
  <add key="FACEBOOK_APP_ID" value="" />
  <add key="FACEBOOK_APP_SECRET" value="" />

  <add key="AZURE_BLOB_STORAGE_CONNECTION_STRING" value="" />
</appSettings>